// colors
$global-background: #ffffff;
$drawer-background: #f3f3f3;

// text
$primary-text-color: #3c3838;
$secondary-text-color: #898989;
$subtext-color: #3c3838;
$footer-text-color: #a9a9a9;

// misc
$error-color: #e63946;
$purple: #8055fa;
$twitter-color: #1da1f2;

// borders
$border-color: #dedede;

// fonts
$text-font: "Open Sans", sans-serif;
$header-font: "Open Sans", sans-serif;
$header-size: 20px;

// sizing
$side-margin: 4%;
$navbar-height: 80px;
